[setup]
dataprefix = /opt/Digit
ser_pin = 25
rclk_pin = 24
srclk_pin = 23

[sensor1]
name = livingroom
sensorid = 28-0000058936d4
sensortype = 1-wire
dist = dist1
valves = 0,1,2,3
temp_set = 21.0
hum_set = NaN
color = #76ECFF

[sensor2]
name = bathroom
sensorid = 28-0000058877bc
sensortype = 1-wire
dist = dist1
valves = 4,5
temp_set = 20.0
hum_set = NaN
color = #67E8CE

[sensor3]
name = bedroom
sensorid = 28-00000589811f
sensortype = 1-wire
dist = dist1
valves = 6,7
temp_set = 19.0
hum_set = NaN
color = #6AFFAD

[sensor4]
name = bathroom
sensorid = 6
sensortype = DHT11
dist = dist1
valves = 6,7
temp_set = 19.0
hum_set = NaN
color = #CC88A0

[online1]
service = KNMI
location = Valkenburg

[dist1]
name = dist_laundry
nr = 1

