body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.5;
	background: #bbb;
}
.arrow-left {
	position: absolute;
	z-index: 1000;
	left: -110px;
	top: 40px;
	width: 40px;
	height: 40px;
	
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg);
	

}
.arrow-right {
	position: absolute;
	z-index: 1000;
	right: -110px;
	top: 40px;
	width: 40px;
	height: 40px;
	

	
}
/*-----------------------------*/
/*-room name-------------------*/
.room_data{
	position: relative;
	top: 90px;
	left: 0px;
}
.room_name{
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;

	position: absolute;
	top:0px;
	left:0px;
	width: 150px;
	text-align: right;
}
.room_date{
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;

	position: absolute;
	top:0px;
	left:155px;
	width: 200px;
	text-align: left;
}
/*-----------------------------*/
/*-sensorFunctions-------------*/
.belowWater{
	height: 100px;
	width: 100%;

}

.room_sensorFunctions{
	position: absolute;
	font-size: 18px;
	top: 0px;
	z-index: 99;

	width: 100%;
	opacity: 1;
}

.tempicon {
	position: relative;
	float:left;
	margin-left:10px;
	background-image: url(../img/temp.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 40px;
	height: 40px;
	top: 40px;
	left:60px;
}

.humicon {
	position: relative;
	float:left;
	margin-left:10px;
	background-image: url(../img/hum.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 40px;
	height: 40px;
	top: 40px;
	left: 60px;
}
.up {
	position: relative;
	float:right;
	margin-right:10px;
	background: url(../img/arrow.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 40px;
	height: 40px;
	top: 40px;
	right:50px;
	-webkit-transform:rotate(270deg);
	-o-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-ms-transform:rotate(270deg);
	transform:rotate(270deg);
}
.down {
	position: relative;
	float:right;
	margin-right:10px;
	background: url(../img/arrow.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 40px;
	height: 40px;
	top: 40px;
	right:50px;
	-webkit-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
}
/*-----------------------------*/
/*-sensorData------------------*/
.sensorInfo{
	position: absolute;
		font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
	text-align: left;
	top: 100px;
	left: 10px;
	width:100%;
	color:#fff;
	font-variant: small-caps;
}
.sensorInfo span{
	position: absolute;
	font-size: 12px;
	left: 60px;
	font-variant: normal;
	
}
/*-----------------------------*/
/*-sensorData------------------*/
.room_sensorData {
	position: relative;
	top: 8px;
	left: 70px;
}
/*-----------------------------*/
.room_sensorData .current{
	position: absolute;
	top: 0px;
	left: 0px;
}
.room_sensorData .current .lastValue {
	font-family:Arial,Helvetica,sans-serif;
	font-size: 72px;
	text-align: right;
	width:100px;

}
.room_sensorData .current .lastValue span{
	font-size: 24px;
}
.room_sensorData .current .unit{
	font-family:Arial,Helvetica,sans-serif;
	position: absolute;
	top: 19px;
	left: 80px;
	text-align: left;
	font-size: 24px;

}
/*-----------------------------*/
.room_sensorData .setPoint{
	position: absolute;
	top: 35px;
	right: 150px;
	float:right;
}
.room_sensorData .setPoint .lastValue {
	font-family:Arial,Helvetica,sans-serif;
	font-size: 24px;
	text-align: right;
	width:50px;

}
.room_sensorData .setPoint .lastValue span{
	font-size: 24px;
}
.room_sensorData .setPoint .unit{
	font-family:Arial,Helvetica,sans-serif;
	position: absolute;
	top:0px;
	left:50px;
	font-size: 24px;
	text-align: left;

}

/*-----------------------------*/
/*-graph-----------------------*/
.Graphcontainer {
	position:relative;

	width: 100%;
	bottom: -15px;
}
/*-----------------------------*/
/*-----------------------------*/
.swiper-active-switch {
	background: #fff;
}
.swiper-parent {
	width:100%;
	height:100%;
}
.parent-slide {
	width:100%;
	height:100%;
}
.swiper-nested{
	width:100%;
	height:100%;
}
.invisible {
    display: none;
    visibility: hidden;
}
.preloader{
	position:absolute;
	left:0;
	top:-100px;
	z-index:0;
	color:#fff;
	text-align:center;
	line-height:100px;
	height:100px;
	width:100%;
	opacity:0;
	font-size:25px;
	-webkit-transition:300ms;
	-moz-transition:300ms;
	-ms-transition:300ms;
	-o-transition:300ms;
	transition:300ms;
	background:rgba(0,0,0,0.1);
}
.preloader.visible{
	top:0;
	opacity:1;
}
